# preExperiment 4b - for submission!
rename the file name to 's' followed by your ID.

## Numbers (int, float) - math operations

The function <code>print()</code>, will print output the values it receives.

### question 1

Open new code cell below this one and print the results of next expressions (each expression in his on line):

    1) 1+2

    2) 5*10

    3) 5*10+7

    4) 5*(10+7)

    5) 10**2

    6) 9**0.5

    7) 77%2

    8) 18//5

In [ ]:
print(1+2)
print(5*10)
print(5*10+7)
print(5*(10+7))
print(10**2)
print(9**0.5)
print(77%2)
print(18//5)

### question 2
Open new code cell below this one and use at least 4 mathematecal opretors on any numerical valus you prefer to get 85.75 as a rasult and print it.

In [ ]:
print(85.75 + 0)
print(85.75 - 0)
print(85.75 * 1)
print(85.75 / 1)

## More about numbers
We can assign numbers into variables. For example:

<code>a = 5</code>

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh),
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"

### question 3

Use object names to keep better track of what's going on in your code!

Open new code cell below this one and assign to variables the numerical valus you use in question 2, and use them to get 85.75 and print is.

For example:
   
instead:

<code>print(4\*5+3)</code>

write:

<code>a = 4</code>

<code>b = 5</code>

<code>c = 3</code>

<code>d = a*b+c</code>

<code>print(d)</code>

In [ ]:
a = 85.75
b = 1
c = 0
print(a * b)
print(a/b)
print(a+c)
print(a-c)

### question 4
In Python a decimal number is called a floating point (3.14) and a whole number is called integer.
assign to 'a' an integer and to 'b' a floating point. Then write <code>print(type(a))</code>, <code>print(type(b))</code>. what did you get?

In [5]:
# Write your answer here
a = 90
b = 3.14
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

### question 5
assign to 'c' the number 7.548796521. Use the function <code>round()</code> and explain what the function did to the variable c. store the answer in the variable 'd'.

Print the type of the new variable 'd'.

for explain what <code>round()</code> did open new text cell below this one and write your explanation.

In [6]:
# Write your answer here
d = round(7.548796521)
print(d)

8

round(x) did round the floating point number x to the nearest integer.

## Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a sequence, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello" to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

In this section we'll learn about the following:

1.) Creating Strings

2.) Printing Strings

3.) String Indexing and Slicing

4.) String Properties

5.) String Methods

6.) Print Formatting

For example:

    'Hello World'
    '200.5'
    "Hellloooo Wooorld!"
    ' '
    ''
    'Py7h0n-3.6.5'

### question 6
Assign to a the word 'hello'

   Type the next lines( each line in a new cell!!!!)
    
    a[0]
    
    a[1]
    
    a[2]
    
    a[3]
    
    a[4]
    
    a[5] --> Explain what happen in a text cell after the error!!
    
    a[-1] --> explain what happen.

a[0] --> 'h'

a[1] --> 'e'

a[2] --> 'l'

a[3] --> 'l'

a[4] --> 'o'

a[5] --> ERROR, no char at index 5

a[-1] --> 'o' , Starts from the end of the string

### question 7
Now, after figuring how to call each letter, lets see if caught it.

Enter the word 'mississippi' to new variable and print all the 's' in the word by accessing their index on both sides!

In [ ]:
# Write your answer here
word = 'mississippi'
print(word[2])
print(word[3])
print(word[5])
print(word[6])

As we show in the examples we can create a String by using '' or by using "".

Lets try to understand if there is a difference and why:

### question 8.1   
assign to <code>a</code> the sring <code>it is a beatiful day</code> using <code>""</code>. print <code>a</code>.

In [11]:
# Write your answer here
a = "it is a beautiful day"
print(a)

it is a beautiful day

### question 8.2

assign to <code>b</code> the sring <code>it's a beatiful day</code> using <code>""</code>. print <code>b</code>.

If you are getting an error explain in new text cell why.

In [12]:
# Write your answer here
b = "it's a beautiful day"
print(b)

it's a beautiful day

### question 8.3

assign to <code>c</code> the sring <code>it's a beatiful day</code> using <code>''</code>. print <code>c</code>.

If you are getting an error explain in new text cell why.

In [ ]:
# Write your answer here
c = 'it's a beautiful day'
print(c)

Python mistakes ' from the string it's with the notation of string ('')

### String Formatting

String formatting lets you inject items into a string rather than trying to chain items together using commas or string concatenation.

As a quick comparison, consider:

<code>Student = 'Yaron'
exam = 87
concatenation = 'Yesterday, ' + student + ' scored ' + str(points) + ' in the exam.'  # concatenation
formatting = f'Yesterday, {student} scored {points} in the exam.'          # string formatting
</code>

There are three ways to perform string formatting.
* The oldest method involves placeholders using the modulo `%` character.
* An improved technique uses the `.format()` string method.
* The newest method, introduced with Python 3.6, uses formatted string literals, called *f-strings*.

In this course will focus on the plceholders formating, but you are more than welcome to read about the others on the internet.

## Formatting with placeholders
the modulo operator

In [ ]:
#example
print('Jhonny, la genta esta %s' %'loca')

### question 9.1
print a sentence which tells how old are you.
'i am ? years old'

In [ ]:
# Write your answer here
print('I am %s years old' %'22')

### question 9.2

Now store to a variable named 'age' your age in type of int.
    for example: age = 16 $\rightarrow$ type(age) is integer.

try to print how old are you, and use the modulo operator and the age variable.

In [ ]:
# Write your answer here
age = 22
print('I am %s years old' %(age))

# conclusion for modulo operator
it takes a variable (str, int, float) and print it as a string.
### question 9.3
for last example about it, print the next lines and see if you understood everything.

<code>No2 = 2
topic = " we'll discuss on list, tuples ,sets and if statements"
print('Today this lecture number %s %s'%(No2,topic))
print(type(No2))
print(type(topic))</code>

In [18]:
# Write your answer here
No2 = 2
topic = " we'll discuss on list, tuples ,sets and if statements"
print('Today this lecture number %s %s'%(No2,topic))
print(type(topic))

Today this lecture number 2  we'll discuss on list, tuples ,sets and if statements
<class 'str'>

## Padding and Precision of Floating Point Numbers

Floating point numbers use the format <code>%5.2f</code>. Here, <code>5</code> would be the minimum number of characters the string should contain; these may be padded with whitespace if the entire number does not have this many digits. Next to this, <code>.2f</code> stands for how many numbers to show past the decimal point.

### question 9.4
Run the next code cell and see if you understand the meaning of the operator <code>%5.2f</code>.

In [20]:
print('this is a great number -->%8.2f' %(1.718))

this is a great number -->    1.72

In [21]:
print('this is a great number -->%.0f' %(2.718))

this is a great number -->3

In [22]:
print('this is a great number -->%1.5f' %(2.718))

this is a great number -->2.71800

In [23]:
print('this is a great number -->%10.2f' %(2.718))
print('this is a great number -->%10.2f' %(2345.718))

this is a great number -->      2.72
this is a great number -->   2345.72

In [24]:
print('this is a great number -->%25.2f' %(2.718))

this is a great number -->                     2.72

# Lists
Earlier when discussing strings we introduced the concept of a *sequence* in Python. Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In this section we will learn about:
    
    1) Creating lists
    2) Indexing and Slicing Lists
    3) Basic List Methods
    4) Nesting Lists

Lists are constructed with brackets [] and commas separating every element in the list.

### question 10.1
run the next code cell and print the values:

    1) sentence
    2) mylist
    3) the type of mylist

In [26]:
sentence = 'Hi everybode and wellcome for today lecture'
mylist = sentence.split(' ')

In [27]:
# Write your answer here
sentence = 'Hi everybode and wellcome for today lecture'
mylist = sentence.split(' ')
print(mylist)

['Hi', 'everybode', 'and', 'wellcome', 'for', 'today', 'lecture']

### question 10.2
The next code cell create a list combine from several data types, run it.

Change the last value of <code>mylist</code> to a string value and then print <code>mylist</code>

In [28]:
mylist = [25, 'Hello', 22.5]
print(mylist)

[25, 'Hello', 22.5]

In [29]:
# Write your answer here
mylist = [25, 'Hello', 22.5]
mylist[2] = str(mylist[2])
print(mylist)

[25, 'Hello', '22.5']

## .pop()
lets learn about a <code>.pop(location)</code> method - this is for "pop off" values from a list.

In [30]:
#example for .pop
sentence = 'hi everybody and see if you can understand the meaning of .pop() method'
my_newlist = sentence.split(' ')
my_newlist.pop(0)
print(my_newlist)

['everybody', 'and', 'see', 'if', 'you', 'can', 'understand', 'the', 'meaning', 'of', '.pop()', 'method']

### question 11
create the next list and use <code>.pop()</code> to eleminate the number 30 in this list.

<code>mylist = [10,20,30,40,50,60]</code>

after using <code>.pop</code> print the list.

In [31]:
# Write your answer here
mylist = [10,20,30,40,50,60]
mylist.pop(2)
print(mylist)

[10, 20, 40, 50, 60]

### question 12
run the next cell and fix all the errors in it.

In [35]:
# the code need to print the last value of the my_newlist
sentence = 'Lecture 1 Lecture 2 Lecture 3 Lecture 4'
my_newlist = sentence.split(' ')
location = len(my_newlist)
lastvalue = my_newlist.pop(location - 1)
print(lastvalue)

4


### question 13
insert the next code <code>new_list = ['P','y','t','h','o','n']</code> to thecell belwo and use the next methods on new_list
:

    1) .reverse()
    2) .sort()
print the objects you get and explain in the text cell about the methods.

In [44]:
# Write your answer here
new_list = ['P','y','t','h','o','n']
new_list.reverse()
print(new_list)
new_list.sort()
print(new_list)

['n', 'o', 'h', 't', 'y', 'P']
['P', 'h', 'n', 'o', 't', 'y']

### Write your explain here

# Set and Booleans

There are two other object types in Python that we should quickly cover: Sets and Booleans.

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function .
Let's go ahead and make a set and try to understand what unique means when we say the a set is a unique data set.
#### Run the next examples

In [45]:
# Example 1
my_newset = set()
print("Lets print the set we create and see it's type: ")
print(my_newset,type(my_newset))
my_newset.add(1)

Lets print the set we create and see it's type:
set() <class 'set'>

In [46]:
# Example 2
my_newset

{1}

In [47]:
# Example 3
my_newset.add(2)
my_newset.add(1)
my_newset.add(1)
my_newset.add(1)
my_newset

{1, 2}

Adding duplicates means nothing for the set, as set saves only unique values.

### question 14

explain in the next text cell the output of the previous cell (Example 3)

### Write your explain here

run the next code and see for yourself that you fully understood the unique data set --> set

<code>my_set = set([1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3])</code>

In [48]:
my_set = set([1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3])
print(my_set)

{1, 2, 3}

### question 15
insert the list - <code>[[1,2,3],[4,[5,6,7]],[[8,9,10],11,12]]</code> to new variable named <code>list_number</code>:

print the sublist <code>[5,6,7]</code> by going to the location of the list_number:

In [51]:
# Write your answer here
list_number = [[1,2,3],[4,[5,6,7]],[[8,9,10],11,12]]
print(list_number[1][1])

[5, 6, 7]

# Practice using functions

In the following questions, replace the word 'pass' with your code in order for the function to perform its purpose.

### question 16
Define a function <code>MaxOfThree()</code> that takes three numbers as arguments and returns the largest of them (Use <code>if</code>, <code>elif</code> and <code>else</code>). For example, <code>MaxOfThree(1,  2,  3)</code> should return 3.

In [53]:
def MaxOfThree(n1, n2, n3):
    if(n1 > n2 and n1 > n3):
      return(n1)
    elif(n2 > n1 and n2 > n3):
      return(n2)
    elif(n3 > n1 and n3 > n2):
      return(n3)

In [54]:
print(MaxOfThree(1,  2,  3))

3

### question 17
Define a function <code>MySum()</code> and a function <code>MyMultiply()</code> that sums and multiplies (respectively) all the numbers in a list of numbers (Use <code>for</code>). For example, s <code>MySum([1, 2, 3, 4])</code> should return 10, and <code>MyMultiply([1, 2, 3, 4])</code> should return 24.

In [55]:
def MySum(inputList):
    sum = 0
    for i in inputList:
      sum += i
    return(sum)

In [56]:
print(MySum([1, 2, 3, 4]))

10

In [57]:
def MyMultiply(inputList):
    result = 1
    for i in inputList:
      result *= i
    return(result)

In [58]:
print(MyMultiply([1, 2, 3, 4]))

24

### question 18
Define a function <code>MyStars()</code> that takes a list of integers and prints a string of stars which has the length of a value of an integer to the screen. For example, <code>MyStars([3, 9, 7])</code> should print the following:

\*\*\*

\*\*\*\*\*\*\*\*\*

\*\*\*\*\*\*\*

In [59]:
def MyStars(inputList):
    for i in inputList:
      print('*' * i)

In [60]:
MyStars([3, 9, 7])

***
*********
*******